body,h1,h2,h3,h4,h5,h6 {font-family: Roboto, sans-serif;}

.three column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

/* all images at 100% */
img {
    width: 20%;
}

p {
    text-align: center;
    font-size: 24px;
}

h1 {
    color: red;
}