<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memorable Episodes</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body class="w3-container">
    <!-- Shared Headbar -->
    <header class="w3-container w3-padding-32">
       <h1> The Chase </h1>
<body>
    <!-- Shared Navibar-->
    <nav class="w3-bar w3-blue-grey">
        <a href="/" class="w3-bar-item w3-button">Home</a>
        <a href="/episodes" class="w3-bar-item w3-button">Memorable Episodes</a>
        <a href="/faq" class="w3-bar-item w3-button">FAQ</a>
    </nav>
<p><b>Here are some memorable episodes from The Chase! Watch now!</b></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/lWJCzaqHBRI?si=-wvYieaj4X3D15Kd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<p><b>Close final for £100,000!</b></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/uov88PKu_Q0?si=CeyPwKR3A9Jy2bhN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<p><b>Highest solo win on The Chase EVER!</b></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/bd9wfbWFL4w?si=UveL_ovjNTk8mZzd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<p><b>Colin dosen't get a single question wrong!</b></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ElNy_QfFjQU?si=CQh0s7Lqtgznood-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<p><b>Funny moments throughout the years!</b></p>

<footer>
        <p><b>Please note:</b> This is just a fan website and not the actual thing.</p>
    </footer>
</body>
</html>