<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
</head>
<body>
     <!-- Shared Navibar-->
    <nav class="w3-bar w3-blue-grey">
        <a href="/" class="w3-bar-item w3-button">Home</a>
        <a href="/episodes" class="w3-bar-item w3-button">Memorable Episodes</a>
        <a href="/faq" class="w3-bar-item w3-button">FAQ</a>
    </nav>
    <p><b>Here are some Frequently Asked Questions from The Chase!</b></p>

    <p><b>How are the Chasers chosen for each show?</b></p>
    <p>During the show, contestants do not know which Chaser they face until they walk out; even the host, Bradley Walsh, is kept in the dark.</p>

    <p><b>Do Chasers get bonuses if they catch constestants?</b></p>
    <p>No, Chasers do not earn bonuses if they catch a contestant/contestants as Chasers already have a paid salary and don't recieve bonuses.</p>

    <p><b>What happens if the Chaser catches all contestants?</b></p>
    <p>If the Chaser catches all contestants, the contestants are reunited back together as a team and nominate one person to return for the Final Chase for a grand prize for £1,000 for each contestant.</p>

    <p><b>How does the Head-to-Head round work?</b></p>
    <p>Contestants must answer questions correctly in order not to be caught by the Chaser. The contestant has a choice of playing for their earned amount from the Cash Builder, a higher offer to the Chaser, or a lower offer which is closer to home.</p>

    <p><b>How do Chasers remember everything?</b></p>
    <p>Many Chasers are professional quizzers who constantly study and compete in international championships to keep their knowledge nice and sharp.</p>

<footer>
        <p><b>Please note:</b> This is just a fan website and not the actual thing.</p>
    </footer>


</body>
</html>