<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Chase</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body class="w3-container">
    <!-- Shared Headbar -->
    <header class="w3-container w3-padding-32">
       <h1> The Chase </h1>
<img src="/pictures/de2tqkt-ce8ba493-c273-4289-a6ad-16ed6bb0ccc8.png" alt="The Chase">
       
    </header>
    <!-- Shared Navibar-->
    <nav class="w3-bar w3-blue-grey">
        <a href="/" class="w3-bar-item w3-button">Home</a>
        <a href="/episodes" class="w3-bar-item w3-button">Memorable Episodes</a>
        <a href="/faq" class="w3-bar-item w3-button">FAQ</a>
    </nav>
    <p><b>Meet your elite professionals!</b></p>
    
     {% block body %}
     {% endblock %}
     <footer>
        <p><b>Please note:</b> This is just a fan website and not the actual thing.</p>
    </footer>
</body>
</html>